Flask==2.3.3
flasgger==0.9.7.1
requests==2.32.2
lib_version @ https://github.com/remla25-team1/lib-version/releases/download/v0.1.4/lib_version-0.1.4-py3-none-any.whl
prometheus_flask_exporter==0.23.2
prometheus-client==0.22.0
redis==6.1.0